<h1>Disc Type</h1>

<p class="show_header"><%= @disc_type.name %></p>

<p>Discs of this type:</p>
<!-- make and model table goes here -->

<p><%= link_to 'All disc types', disc_types_path %> | <%=link_to 'Home', owns_path %></p>
